/**
 * Bootstrap Default in _variables.scss
 * $font-weight-normal: 400;
 */
$font-family-base: 'Rajdhani', sans-serif;

$headings-font-family: 'Rajdhani', sans-serif;
$headings-font-weight: 600;

/**
 * Basic typography style for copy text
 */
html {
  font-size: 16px;
}

/**
 * Bootstrap Default in _variables.scss
 * $font-size-base: 1rem;
 */
$h1-font-size: 4.5rem;
$h2-font-size: 3.75rem;
$h3-font-size: 3rem;
$h4-font-size: 2.25rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1rem;